<!DOCTYPE html>
<html lang="en" ng-app="destination">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>BEAUTIFUL PLACES!</title>
<!-- STYLESHEETS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="styles.css">
<!-- JQUERY -->
<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<!-- ANGULAR -->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
<!-- UI ROUTER -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.min.js"></script>
<!-- BOOTSTRAP -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<!-- SKROLLR -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/skrollr/0.6.30/skrollr.min.js"></script>
<!-- VALIDATION -->
<script src="http://cdn.jsdelivr.net/jquery.validation/1.14.0/jquery.validate.js"></script>
<!-- APPLICATION SCRIPTS -->
<!-- <script src="scripts.js"></script> -->
<script src="app.js"></script>
  </head>

  <body ng-controller="MainCtrl">
<h1>Hello {{message}}</h1>
<input type="text" ng-model="message">


<!-- FORM -->
<div class="newpost">
<form id="submitnewpost" ng-submit="addPost()">
<div><label for="postinput">Image url</label><br>
<textarea id="postinput" placeholder="Image URL" name="post" class="required" ng-model="newPost.imgurl"></textarea></div>
<div><label for="locationinput">Location</label><br>
<input type="text" id="locationinput" placeholder="Where is it?" name="location" class="required" ng-model="newPost.location"></div>
<input type="hidden" id="authorinput" name="author" ng-model="newPost.author">
<button type="submit" class="btn btn-warning">Submit</button>
</form>

<ul><li ng-repeat="name in names">{{name}}</li></ul>
  </body>

</html>
